<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/web/layout">
<head>
	<title>[[#{bill}]]</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="order p-0">
			<div class="container">
				<form class="order-form">
					<div th:if="${checkout}" class="row">
			        	<div class="header clearfix col-12">
			        	<h3 th:if="${success}" class="text-muted">[[${success}]]</h3>
			        	<h3 th:unless="${error}" class="text-muted">[[${error}]]</h3>
			            </div>
			            <div class="table-responsive col-12">
			                <div class="form-group">
			                    <label >[[#{seller_transaction_code}]]:</label>
			                    <label>[[${vnp_TxnRef}]]</label>
			                </div>    
			                <div class="form-group">
			                    <label >[[#{amount_of_money}]]:</label>
			                    <label>[[${#numbers.formatInteger(vnp_Amount,3,'POINT')}]]đ</label>
			                </div>  
			                <div class="form-group">
			                    <label >[[#{content}]]:</label>
			                    <label>[[${vnp_OrderInfo}]]</label>
			                </div> 
			                <div class="form-group">
			                    <label >[[#{vnpay_response_code}]]:</label>
			                    <label>[[${vnp_ResponseCode}]]</label>
			                </div> 
			                <div class="form-group">
			                    <label >[[#{vnpay_transaction_code}]]:</label>
			                    <label>[[${vnp_TransactionNo}]]</label>
			                </div> 
			                <div class="form-group">
			                    <label >[[#{bank_name}]]:</label>
			                    <label>[[${vnp_BankCode}]]</label>
			                </div> 
			                <div class="form-group">
			                    <label >[[#{date_of_payment}]]:</label>
			                    <label>[[${vnp_PayDate}]]</label>
			                </div> 
			            </div>
			        </div>
					<div class="row">
						<div class="col-12 pt-4">
			                <h3 class="text-center">[[#{order_success}]]</h3>
			            </div>
						<div class="col-lg-6">
							<div class="information-detail py-4">
								<div class="col-12 mb-2 border info-user p-3">
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{code_bill}]] :</label>  <label>#[[${order.codeOrder}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{full_name}]] :</label>  <label>[[${order.name}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>Email :</label> <label>[[${order.email}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{phone}]] :</label> <label>[[${order.phone}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{delivery_address}]] :</label> <label>[[${order.address_delivery}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{date}]] :</label>  <label>[[${#dates.format(order.created_at,'dd-MM-yyyy')}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{quantity}]] :</label><label>[[${order.num}]]</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{total_money}]] :</label> <label>[[${#numbers.formatInteger(order.total_money,3,'POINT')}]]đ</label>
									</div>
									<div class="col-lg-12 d-flex align-items-center">
										<label>[[#{payments}]] :</label> <label>[[${order.payment}]]</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="place-order py-4">
								<div class="order-total">
									<ul class="order-table p-0">
										<li><span>[[#{product}]]</span><span>[[#{quantity}]]</span><span>[[#{price}]]</span></li>
										<th:block th:each="item : ${orderdetail}">
											<li class="fw-normal"><span><img th:src="@{/images/product/{img}(img=${item.product.thumbnail})}" width="50px" height="50px"/></span> <span>[[${item.num}]]</span><span>[[${#numbers.formatInteger(item.totalPrice,3,'POINT')}]]đ</span></li>
										</th:block>
										<li class="total-price">[[#{total_quantity}]] <p>[[${order.num}]]</p></li>
										<li class="total-price">[[#{total_price}]] <p>[[${#numbers.formatInteger(order.total_money,3,'POINT')}]]đ</p></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>

	<th:block layout:fragment="script">
		<script>
		</script>
	</th:block>
</body>
</html>