<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/web/layout">
<head>
	<title>[[#{register_page}]]</title>
</head>
<body>

	<div layout:fragment="content">
	
       <section class="container login">
			<div class="row">
				<div class="breadcrumbs d-flex flex-row align-items-center col-12">
					<ul>
						<li><a th:href="@{/home}">[[#{home}]]</a></li>
						<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>[[#{signup}]]</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-12 p-0" id="side1">
					<div>
						<h3>[[#{welcome_back}]]</h3>
	                	<p>[[#{login_account}]]</p>
						<a th:href="@{/auth/sign-in}"><button id="btn">[[#{signin}]]</button></a>
					</div>
				</div>
				<div class="col-md-8 col-12 p-0" id="side2">
					<div class="form-login">
						<h3>[[#{create_new_account}]]</h3>
						<div th:if="${error}">
			                <div class="alert alert-danger">[[${error}]]</div>
			            </div>
						<div th:if="${success}">
			                <div class="alert alert-success">[[${success}]]</div>
			            </div>
			            <form th:if="${success==null && error==null}" class="form-login" th:action="@{/auth/sign-up}" th:object="${formSignup}"  method="post">
							<div class="inp">
								<input 
									th:field="*{fullname}" 
									type="text" 
									required 
									th:placeholder="#{enter_your_full_name_please}" 
									title="VD: Phạm Minh Thiện"
									>
			                    <input 
			                    	th:field="*{email}" 
			                    	type="email" 
			                    	th:placeholder="#{enter_your_email_please}"  
			                    	required 
			                    	pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
			                    	title="VD: admin@gmail.com"
			                    	>
			                    <input 
			                    	autocomplete=""
			                    	type="password" 
			                    	th:placeholder="#{enter_your_password_please}" 
			                    	th:field="*{password}" 
			                    	required
			                    	pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])([0-9a-zA-Z]{8,})$"
			                    	title="VD: Admin123"
			                    	>
							</div>
							<div id="login">
								<button type="submit">[[#{signup}]]</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		
	</div>
	
	<th:block layout:fragment="script">
    	<script>
    	</script>
	</th:block>
	
</body>
</html>