<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout">
<head>
<title>Admin Category Page</title>
</head>
<body>

	<div layout:fragment="heading">
		<ul class="navbar-nav heading">
			<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i></a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a th:href='@{/admin/home}' class="nav-link">Trang chủ</a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a th:href='@{/admin/order}' class="nav-link">Đơn hàng</a>
			</li>
		</ul>
	</div>

	<div layout:fragment="content">

		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Quản lý đơn hàng</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href='@{/admin/home}'>Trang chủ</a></li>
							<li class="breadcrumb-item active">Đơn hàng</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<section class="search">
			<div class="container">
				<form method="post" th:action="@{/admin/order}" th:object="${formSearchOrder}">
					<h5 class="px-3 mb-4">Form tìm kiếm</h5>
					<div class="row">
						<div class="col-12  px-4">
							<div class="form-group ">
								<label class="col-form-label">Tên:</label>
								<input type="text" th:field="*{nameOrder}" class="form-control">
							</div>
							<div class="form-group">
								<label for="inputPassword6" class="col-form-label">Hình thức thanh toán:</label>
								<select class="form-control form-select" th:field="*{payment}">
									<option selected="selected" value=""></option>
									<option value="COD">COD</option>
									<option value="TRANSFER">Chuyển khoản</option>
								</select>
							</div>
							<div class="form-group  ">
								<label for="">Trạng thái đơn hàng:</label> 
								<select class="form-control form-select" th:field="*{status}">
									<option selected="selected" value=""></option>
									<option value="PENDING">PENDING</option>
									<option value="CONFIRMED">CONFIRMED</option>
									<option value="DELIVERING">DELIVERING</option>
									<option value="RECEIVED">RECEIVED</option>
									<option value="CANCELLED">CANCELLED</option>
								</select>
							</div>
						</div>
						<div class="d-flex justify-content-center pr-4 mb-3">
							<button class="btn btn-primary px-4" type="submit">Tìm kiếm</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Danh sách đơn hàng</h3>
				</div>
				<div class="card-body">
					<table class="text-center order-table">
						<thead>
							<tr>
								<th>No.</th>
								<th>Tên người đặt</th>
								<th>Ngày đặt</th>
								<th>Tổng tiền</th>
								<th>Hình thức thanh toán</th>
								<th>Thanh toán</th>
								<th>Trạng thái</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${order}"> 	
								<th:block th:each="item : ${order}">
									<tr th:id="trow_+${item.id}">
										<td class="td1" th:text="${itemStat.count+((currentPage-1)*3)}"></td>
										<td class="td2"><h6>[[${item.name}]]</h6></td>
										<td class="td3"><h6>[[${#dates.format(item.created_at,'dd-MM-yyyy')}]]</h6></td>
										<td class="td4"><h6>[[${#numbers.formatInteger(item.total_money,3,'POINT')}]]đ</h6></td>
										<td class="td5"><h6>[[${item.payment}]]</h6></td>
										<td class="td6"><h6>[[${item.stateCheckout}]]</h6></td>
										<td class="td7"><h6>[[${item.stateOrder}]]</h6></td>
										<td class="td8">
											<a data-bs-toggle="modal" th:attr="data-bs-target='#see'+*{item.id}" class="btn btn-sm btn-primary">See</a> 
											<a th:if="${item.stateOrder == 'CANCELLED'}" class="btn btn-sm btn-secondary">Vertify</a>
											<a th:if="${item.stateOrder != 'CANCELLED'}" data-bs-toggle="modal" th:attr="data-bs-target='#vertify'+*{item.id}" class="btn btn-sm btn-danger">Vertify</a>
										</td>
									</tr>
									<div class="modal see-order" th:id="*{'see'+{item.id}}">
										<div class="modal-dialog">
											<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Chi tiết đơn hàng</h4>
														<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
													</div>
													<div class="modal-body p-0">
														<section class="order p-0">
															<div class="container">
																<div class="order-form">
																	<div class="row">
																		<div class="col-lg-6">
																			<div class="information-detail">
																				<h4>Thông tin đơn hàng</h4>
																				<div class="col-12 mb-2 border info-user p-3">
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Mã đơn hàng :</label> <label>#[[${item.codeOrder}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>OrderId :</label> <label>#[[${item.id}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>UserId :</label> <label>#[[${item.user}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Họ và tên :</label> <label>[[${item.name}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Email :</label> <label>[[${item.email}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>SĐT :</label> <label>[[${item.phone}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Địa chỉ nhận hàng :</label> <label>[[${item.address_delivery}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Ngày đặt :</label> <label>[[${#dates.format(item.created_at, 'dd-MM-yyyy')}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Số lượng sản phẩm :</label><label>[[${item.num}]]</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Tổng tiền :</label> <label>[[${#numbers.formatInteger(item.total_money,3,'POINT')}]]đ</label>
																					</div>
																					<div class="col-lg-12 d-flex align-items-center">
																						<label>Hình thức thanh toán :</label> <label>[[${item.payment}]]</label>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-6">
																			<div class="place-order">
																				<h4>Thông tin sản phẩm</h4>
																				<div class="order-total">
																					<ul class="order-table p-0">
																						<li><span>id</span><span>Sản phẩm</span><span>Số lượng</span><span>Giá</span></li>
																						<th:block th:each="items : *{item.orderdetail}">
																							<li class="fw-normal"><span>#[[${items.product.id}]]</span><span><img th:src="@{/images/product/{img}(img=${items.product.thumbnail})}" width="50px" height="50px" />[[${items.product.name}]]</span> <span>[[*{items.num}]]</span><span>[[${#numbers.formatInteger(items.totalPrice,3,'POINT')}]]đ</span></li>
																						</th:block>
																						<li class="total-price">Tổng số lượng <p>[[${item.num}]]</p></li>
																						<li class="total-price">Tổng giá <p>[[${#numbers.formatInteger(item.total_money,3,'POINT')}]]đ</p></li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</section>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
													</div>
											</div>
										</div>
									</div>

									<div class="modal" th:id="*{'vertify'+{item.id}}">
										<div class="modal-dialog">
											<div class="modal-content">
												<form th:id="*{'formVerifyOrder'+{item.id}}" action="" method="post" >
													<div class="modal-header">
														<h4 class="modal-title">Verify order</h4>
														<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
													</div>

													<div class="modal-body">
														<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
															<div class="form-group">
																<label for="">Id</label> 
																<input type="text" name="id" th:value="${item.id}" class="form-control" readonly="readonly" />
															</div>
															<div class="form-group">
																<label for="">Status</label> 
																<select name="status" class="form-control form-select" required="required">
																	<option hidden="" th:value="${item.stateOrder}">[[${item.stateOrder}]]</option>
																	<option value="CONFIRMED">CONFIRMED</option>
																	<option value="DELIVERING">DELIVERING</option>
																	<option value="RECEIVED">RECEIVED</option>
																	<option value="CANCELLED">CANCELLED</option>
																</select>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
														<button th:onclick="'clickVerifyOrder('+${item.id}+')'" type="button" class="btn btn-primary">Verify</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</th:block>
							</th:block>
							<th:block th:unless="${order}">
								<tr>
									<td colspan="4">Không có bản ghi nào!!!</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<th:block th:if="${order}">
						<form id="formOrder" th:action="@{/admin/order}" method="post" th:object="${formSearchOrder}">
							<ul class="pagination mt-4" id="pagination"></ul>
							<input hidden="" id="page"  name="page" th:value="${currentPage}"/>
							<input hidden="" id="totalPage" name="totalPage" th:value="${totalPage}"/>
							
							<input hidden="" th:field="*{nameOrder}"/>
							<input hidden="" th:field="*{phone}"/>
							<input hidden="" th:field="*{address}"/>
							<input hidden="" th:field="*{totalMoney}"/>
							<input hidden="" th:field="*{orderDate}"/>
							<input hidden="" th:field="*{payment}"/>
							<input hidden="" th:field="*{status}"/>
						</form>
					</th:block>
				</div>
			</div>
		</section>

	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
				toastr.options = {
				   "closeButton": false,
				   "debug": false,
				   "newestOnTop": false,
				   "progressBar": false,
				   "positionClass": "toast-top-right",
				   "preventDuplicates": false,
				   "onclick": null,
				   "showDuration": "300",
				   "hideDuration": "1000",
				   "timeOut": "5000",
				   "extendedTimeOut": "1000",
				   "showEasing": "swing",
				   "hideEasing": "linear",
				   "showMethod": "fadeIn",
				   "hideMethod": "fadeOut"
				 }
	    	var currentPage  = /*[[${currentPage}]]*/ "";
			var totalPages = /*[[${totalPage}]]*/ "";
			$(function () {
				$('#pagination').twbsPagination({
					totalPages: (totalPages == null) ? 1:totalPages,
					visiblePages: 3,
					startPage: (currentPage == null) ? 1:currentPage,
					onPageClick: function (event, page) {
						if (currentPage != page) {
							$('#page').val(page);
							$('#formOrder').submit();
						}
					} 
				});
			});
			function clickVerifyOrder(id){
				const firstPath = location.pathname.split('/')[1];
				$.ajax({
					url: '/'+firstPath+'/'+"admin/order/verify",
					async: false,  
					type: "post",
					data: $('#formVerifyOrder'+id).serialize(),
					success:function(res){
						if(res.data){
	                        $('#trow_' + id + ' .td7').empty();
	                        $('#trow_' + id + ' .td7').append(`<h6>${res.data.stateOrder}</h6>`);
							 $('.modal').modal('hide');
							 Command: toastr["success"](res.message, "Verify Order")
						}else{
							 Command: toastr["error"](res.message, "Verify Order")
						}
					}
				});
			}
		</script>
	</th:block>

</body>
</html>