<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer id="footer">
	<div class="footer-top">
	 	<div class="footer-wrapper-1 py-2">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-4 my-3">
                <div class="footer-top-data d-flex gap-30 align-items-center">
                  <h2 class='mb-0 text-white'>[[#{signupfornewsletter}]]</h2>
                </div>
              </div>
              <div class="col-lg-8 my-3">
                <div class="input-group">
                  <input 
                  type="text"
                  class="form-control py-1"
                  th:placeholder="#{enter_your_email_address_please}"
                  aria-label="Your Email Address"
                  aria-describedby="basic-addon2"
                  />
                  <span class="input-group-text py-2" id="basic-addon2">
                    [[#{subscribe}]]
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
	<hr>
	<div class="container py-4 ">
		<div class="copyright">
			&copy; [[#{copyright}]] <strong th:text="${#dates.year(#dates.createNow())}"></strong> <strong>PMT</strong>.[[#{all_rights_reserved}]].
		</div>
	</div>
</footer>

</html>