<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<nav class="navbar navbar-expand-lg menu" id="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}"><img th:src="@{/logo.svg}" alt="" width="50px" height="50px"></a>
			<button 
				class="navbar-toggler" 
				type="button" 
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" 
				aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="fa-solid fa-bars" style="color: white;"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/home}">[[#{home}]]</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/store}">[[#{store}]]</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/about}">[[#{about}]]</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/contact}">[[#{contact}]]</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/new}">[[#{news}]]</a></li>
					<li class="nav-item dropdown">
						<a 
							class="nav-link dropdown-toggle" 
							href="#" id="navbarDropdown" 
							role="button" 
							data-bs-toggle="dropdown" 
							aria-expanded="false">
							[[#{languages}]] 
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #1c1c50;">
							<li><a class="dropdown-item" href="?lang=en">[[#{english}]]</a></li>
							<li><a class="dropdown-item" href="?lang=vn">[[#{vietnam}]]</a></li>
						</ul>
					</li>
				</ul>
	
				<form class="form-inline form-search">
					  <input class="form-control text-search" id="inputSearch" name="inputSearch" type="text" th:placeholder="#{enter_content_you_are_looking_for_please}">
					  <label class="btn-search"  id="search-btn"><i class="fas fa-search"></i></label>
				</form>
			</div>
		</div>
	</nav>
</html>