@charset "ISO-8859-1";

.breadcrumbs {
	width: 100%;
	height: 40px;
	
}

.breadcrumbs ul li {
	display: inline-block;
	margin-right: 17px;
}

.breadcrumbs ul li.active a {
	color: #b9b4c7;
}

.breadcrumbs ul li i {
	margin-right: 17px;
}

.breadcrumbs ul li a {
	color: #51545f;
}