@charset "ISO-8859-1";

.shopping-cart {
	padding-top: 20px;
	padding-bottom: 20px;
}

.cart-table {
	margin-bottom: 20px;
}

.cart-table table {
	width: 100%;
	min-width: 480px;
	border: 1px solid #ebebeb;
}

.cart-table table img {
	width: 100px;
	height: 100px;
}

.cart-table table tr th {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	padding: 18px 0 19px;
	text-transform: uppercase;
}

.cart-table table tr td h5 {
	text-align: center;
}

.cart-table table tr td {
	text-align: center;
}

.cart-table table tr td .quantityInput {
	background: #c0c0c0;
}

.cart-table table .tr {
	background: #c0c0c0;
}

.cart-table table tr td.first-row {
	padding-top: 0px;
}

.cart-table table tr td.cart-pic {
	width: 10%;
	word-break: break-all;
}

.cart-table table tr td.cart-title {
	text-align: left;
	width: 20%;
	word-break: break-all;
}
.cart-table table tr td.p-price {
	width: 15%;
	word-break: break-all;
}
.cart-table table tr td.qua-col {
	width: 20%;
	word-break: break-all;
}
.cart-table table tr td.discount {
	width: 10%;
	word-break: break-all;
}
.cart-table table tr td.total-price {
	width: 20%;
	word-break: break-all;
}
.cart-table table tr td.close-td {
	font-size: 16px;
	color: #252525;
	width: 5%;
}

.cart-table table tr td.cart-title h5 {
	color: #252525;
}




.cart-table table tr td.p-price, .cart-table table tr td.total-price {
	color: #e7ab3c;
	font-size: 16px;
	font-weight: 700;
}



.cart-table table tr td.qua-col .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table table tr td.qua-col .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}




.cart-table table tr td.close-td a {
	color: #252525;
}

.cart-table table tr td.close-td i {
	cursor: pointer;
	font-size: 26px;
}

.proceed-checkout ul {
	border: 2px solid #ebebeb;
	background: #f3f3f3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.proceed-checkout ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	text-transform: uppercase;
	overflow: hidden;
}

.proceed-checkout ul li.subtotal {
	font-weight: 400;
	text-transform: capitalize;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 14px;
}

.proceed-checkout ul li.subtotal span {
	font-weight: 700;
}

.proceed-checkout ul li.cart-total {
	padding-top: 10px;
}

.proceed-checkout ul li.cart-total span {
	color: #e7ab3c;
}

.proceed-checkout ul li span {
	float: right;
}

.proceed-checkout .proceed-btn {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background: #1c1c50;
	text-transform: uppercase;
	padding: 15px 25px 14px 25px;
	display: block;
	text-align: center;
}

.proceed-checkout .proceed-btn:hover {
	color: #111;
	background: gray;
}

@media only screen and (max-width: 1024px) {
	/*-- Code cho màn hình vừa (Table) viết ở đây --*/
}

@media only screen and (max-width: 640px) {
	.cart-table table {
		min-width: 0;
	}
	.cart-table table img {
		width: 50px;
		height: 50px;
	}
	.cart-table table tr th {
		font-size: 10px;
		padding: 10px 0 10px;
	}
	.cart-table table tr td h5 {
		font-size: 10px;
	}
	.cart-table table tr td.qua-col .pro-qty {
		width: 50px;
		height: 20px;
		padding: 0;
	}
	.cart-table table tr td.qua-col .pro-qty .qtybtn {
		font-size: 12px;
		width: 18px;
		line-height: 12px;
	}
	.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
		font-size: 16px;
	}
	.cart-table table tr td.qua-col .pro-qty input {
		width: 10px;
		font-size: 10px;
		line-height: 0;
	}
	.cart-table table tr td.p-price, .cart-table table tr td.total-price {
		font-size: 10px;
	}
}