@charset "UTF-8";

#navbar {
	background-color: #1c1c50;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}
#navbar .nav-link {
	color: white;
	font-weight: bold;
	margin-left: 5px;
	transition: 0.5s ease;
}

#navbar .nav-link:hover {
	color: white;
	border-radius: 5px;
}

.dropdown li a {
	color: white;
}
.form-search{
	width: 55%;
	position: relative;
}
.text-search{
	border-radius: 0;
	width: 100%;
}
.text-search:focus{
	border: 1px solid #ced4da;
}

.btn-search{
	border: 1px solid #ced4da;
	width: 50px;
	border-radius: 0;
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-search i{
	color: #1c1c50;
}


.product-search{
	position: fixed;
	top: 60px;
	width: 60%;
	height: 500px;
	background: gray;
}