@charset "UTF-8";

.login {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
}
#image{
	width: 100%;
	height: 100%;
	object-fit: contain ;
	object-position: center;
}
.image{
	width: 100%;
	height: 100%;
	object-fit: contain ;
	object-position: center;
}
#side1 {
	background-color: #1c1c50;
	height: 76vh;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#side1 h3 {
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

#side1 p {
	color: white;
	font-weight: bold;
	text-align: center;
}

#btn {
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	width: 100%;
	background: transparent;
	color: white;
}

#btn:hover {
	background: white;
	color: black;
}

#side2 {
	background-color: white;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	text-align: center;
	align-items: center;
}
.form-login{
	width: 80%;
	margin: auto;
	padding: 20px 0;
}
#side2 h3 {
	color: #1c1c50;
	font-weight: bold;
}


#side2 .form-login .inp input {
	width: 100%;
	margin-top: 20px;
	height: 40px;
	padding: 10px;
}
#side2 .form-login .inp select {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border: 1px solid gray;
}
#side2 p {
	margin-top: 20px;
	cursor: pointer;
}

#side2 a {
	color: black;
}
#side2 .icons{
	width: 100%;
	height: 42px;
	color: white;
	background-color: #1c1c50;
	border: none;
	font-weight: bold;
	margin-top: 20px;
}

#side2 .icons i {
	margin-left: 10px;
	cursor: pointer;
}

#login button {
	width: 100%;
	height: 42px;
	color: white;
	background-color: #1c1c50;
	border: none;
	font-weight: bold;
	margin-top: 20px;
}

#login button:hover {
	color: black;
	background: gray;
}

.tab-profile{
	display: flex;
}
.tab-profile li {
	width: 50%;
	text-align: center;
	color: black;
}
.tab-profile li .nav-link{
	color: black;
}
.tab-profile li .nav-link:hover{
	background: gray;
}
.tab-profile li .nav-link.active{
	color: blue;
}

