<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/web/layout">
<head>
<title>[[#{reset_your_password_page}]]</title>
</head>
<body>

	<div layout:fragment="content">

		<section class="container login">
			<div class="row">
				<div class="breadcrumbs d-flex flex-row align-items-center col-12">
					<ul>
						<li><a th:href="@{/home}">[[#{home}]]</a></li>
						<li class="active"><a href="#">
						<i class="fa fa-angle-right" aria-hidden="true"></i>[[#{reset_your_password}]]</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-12 p-0" id="side1">
					<div>
						<h3>[[#{welcome_back}]]</h3>
						<p>[[#{login_account}]]</p>
						<a th:href="@{/auth/sign-in}"><button id="btn">[[#{signin}]]</button></a>
					</div>
				</div>
				<div class="col-md-8 col-12 p-0" id="side2">
					<div class="form-login">
						<h3>[[#{reset_your_password}]]</h3>
						<div th:if="${error}">
							<div class="alert alert-danger">[[${error}]]</div>
						</div>
						<div th:if="${success}">
							<div class="alert alert-success">[[${success}]]</div>
						</div>
						<form th:if="${success==null && error==null}"  class="form-login" th:action="@{/auth/reset-password}" method="post">
							<input type="hidden" name="token" th:value="${token}" />
							<div class="inp">
								<input id="password" type="password" th:placeholder="#{enter_your_new_password_please}" name="newPassword" required autofocus>
							</div>
							<div class="inp">
								<input oninput="checkPasswordMatch(this);" type="password" th:placeholder="#{confirm_your_new_password}" required>
							</div>
							<div id="login">
								<button type="submit">[[#{reset}]]</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>

	<th:block layout:fragment="script">
		<script>
			function checkPasswordMatch(fieldConfirmPassword) {
				if (fieldConfirmPassword.value != $("#password").val()) {
					fieldConfirmPassword
							.setCustomValidity("Passwords do not match!");
				} else {
					fieldConfirmPassword.setCustomValidity("");
				}
			}
		</script>
	</th:block>

</body>
</html>