<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="modal" id="edit">
	<div class="modal-dialog">
		<div class="modal-content">
			<form 
				id="formEditProduct" 
				th:action="@{/admin/product/edit}"
				method="post" 
				th:object="${productDto}"
				enctype="multipart/form-data"
			>
				<div class="modal-header">
					<h4 class="modal-title">[[#{update_product}]]</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
						<div class="form-group">
							<label for="">Id</label> 
							<input type="text" id="idEdit" th:field="*{id}" class="form-control" readonly="readonly" />
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{name}]]</label> 
							<input type="text" id="nameEdit" th:field="*{name}" class="form-control" required="required" />
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{category}]]</label> 
							<select th:field="*{categoryName}" class="form-control form-select" id="categoryEdit" required="required">
								<th:block th:each="item : ${category}">
									<option th:value="${item.name}">[[${item.name}]]</option>
								</th:block>
							</select>
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[]</label> 
							<select th:field="*{brandName}" class="form-control form-select" id="brandEdit" required="required">
								<th:block th:each="item : ${brand}">
									<option th:value="${item.name}">[[${item.name}]]</option>
								</th:block>
							</select>
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{price}]]</label> 
							<input type="text" th:field="*{price}" class="form-control" id="priceEdit" required="required" />
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{discount}]]</label> 
							<input type="text" th:field="*{discount}" class="form-control" id="discountEdit" required="required" />
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{quantity}]]</label> 
							<input type="text" th:field="*{quantity_in_stock}" class="form-control" id="quantityEdit" required="required" />
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{description}]]</label>
							<textarea th:field="*{description}" class="form-control" required="required" id="descriptionEdit" rows="4"></textarea>
							<div class="text-danger"></div>
						</div>
						<div class="form-group">
							<label for="">[[#{image}]]</label> 
							<input hidden="" type="text" id="thumbnailEdit" th:field="*{thumbnail}"> 
							<input class="form-control" onchange="chooseFile(this, 'edit')" type="file" name="fileImage" />
						</div>
						<div class="form-group d-flex justify-content-center">
							<img id="imageEdit" alt="" class="thumbnailEdit" src="" height="200px" width="200px" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">[[#{close}]]</button>
					<button th:onclick="clickEditProduct()" type="button" class="btn btn-primary">[[#{update}]]</button>
				</div>
			</form>
		</div>
	</div>
</div>

</html>