<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/layout">
<head>
<title>Admin Product Page</title>
</head>
<body>

	<div layout:fragment="heading">
		<ul class="navbar-nav heading">
			<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i></a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a th:href='@{/admin/home}' class="nav-link">Home</a>
			</li>
			<li class="nav-item d-none d-sm-inline-block">
				<a th:href='@{/admin/product}' class="nav-link">Product</a>
			</li>
		</ul>
	</div>

	<div layout:fragment="content">

		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Manage product</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href='@{/admin/home}'>Home</a></li>
							<li class="breadcrumb-item active">Product</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<div th:replace="/admin/product/search-form"></div>

		<section class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header ">
					<h3 class="card-title mt-1">List of product</h3>
					<div class="card-tools mr-1">
						<a data-bs-toggle="modal" data-bs-target="#add" class="btn btn-primary">Add new</a>
					</div>
				</div>
				<div class="card-body">
					<table class="text-center product-table">
						<thead>
							<tr>
								<th>STT</th>
								<th>Img</th>
								<th>Name</th>
								<th>Category</th>
								<th>Brand</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Discount</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${product}">
								<th:block th:each="item : ${product}">
									<tr th:id="trow_+${item.id}">
										<td class="td1" th:text="${itemStat.count+((currentPage-1)*5)}"></td>
										<td class="td2"><img th:src='@{../images/product/{img}(img=${item.thumbnail})}' alt=""></td>
										<td class="td3"><h6>[[${item.name}]]</h6></td>
										<td class="td4"><h6>[[${item.categoryName}]]</h6></td>
										<td class="td5"><h6>[[${item.brandName}]]</h6></td>
										<td class="td6"><h6>[[${#numbers.formatInteger(item.price,3,'POINT')}]]đ</h6></td>
										<td class="td7"><h6>[[${item.quantity_in_stock}]]</h6></td>
										<td class="td8"><h6>[[${item.discount}]]%</h6></td>
										<td class="td9"><h6>[[${item.description}]]%</h6></td>
										<td class="td10">
											<a th:onclick="'editProduct('+${item.id}+')'" data-bs-toggle="modal" data-bs-target="#edit"  class="btn btn-sm btn-primary">Edit</a> 
											<a th:onclick="'clickDeleteProduct('+${item.id}+')'" class="btn btn-sm btn-danger">Delete</a>
										</td>
									</tr>
								</th:block>
							</th:block>
							<th:block th:unless="${product}">
								<tr>
									<td colspan="4">Không có bản ghi nào!!!</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div th:replace="/admin/product/pagination"></div>
				</div>
			</div>
		</section>
										
		<div th:replace="/admin/product/add-modal"></div>
		
		<div th:replace="/admin/product/edit-modal"></div>
		
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
				toastr.options = {
				   "closeButton": false,
				   "debug": false,
				   "newestOnTop": false,
				   "progressBar": false,
				   "positionClass": "toast-top-right",
				   "preventDuplicates": false,
				   "onclick": null,
				   "showDuration": "300",
				   "hideDuration": "1000",
				   "timeOut": "5000",
				   "extendedTimeOut": "1000",
				   "showEasing": "swing",
				   "hideEasing": "linear",
				   "showMethod": "fadeIn",
				   "hideMethod": "fadeOut"
				 }
			let add = /*[[${param.add}]]*/"";
			if(add=="success"){
				Command: toastr["success"]("Insert product successfully!", "Add Product")
			}else if(add=="fail"){
				Command: toastr["error"]("Insert product failed!", "Add Product")
			}else if(add=="exist"){
				Command: toastr["error"]("The product name already exists!", "Add Product")
			}
	    	var currentPage  = /*[[${currentPage}]]*/ "";
			var totalPages = /*[[${totalPage}]]*/ "";
			$(function () {
				$('#pagination').twbsPagination({
					totalPages: totalPages,
					visiblePages: 3,
					startPage: currentPage,
					onPageClick: function (event, page) {
						if (currentPage != page) {
							$('#page').val(page);
							$('#formProduct').submit();
						}
					} 
				});
			});
			function editProduct(id){
				const firstPath = location.pathname.split('/')[1];
				$.ajax({
					url: '/'+firstPath+'/'+"admin/product/edit/"+id,
					async: false,  
					type: "get",
					data: $(this).serialize(),
					success:function(res){
						if(res){
							$('#idEdit').val(res.id);
							$('#nameEdit').val(res.name);
							$('#categoryEdit').val(res.categoryName);
							$('#brandEdit').val(res.brandName);
							$('#priceEdit').val(res.price);
							$('#discountEdit').val(res.discount);
							$('#quantityEdit').val(res.quantity_in_stock);
							$('#descriptionEdit').val(res.description);
							$('#thumbnailEdit').val(res.thumbnail);
							$(".thumbnailEdit").attr("src",'/'+firstPath+'/'+"images/product/"+res.thumbnail);
						}
					}
				});
			}
			function clickEditProduct(){
				const firstPath = location.pathname.split('/')[1];
				var form = $("#formEditProduct").closest("form");
				var formData = new FormData(form[0])
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					data: formData,
					processData: false,
					contentType: false,
					success:function(res){
						if(res.data){
							let stt = $('#trow_' + res.data.id + ' .td1').text();
							let html = ``;
							html += `<td class="td1">${stt}</td>`;
							html += `<td class="td2"><img src='/${firstPath}/images/product/${res.data.thumbnail}' alt=""></td>`;
							html += `<td class="td3"><h6>${res.data.name}</h6></td>`;
							html += `<td class="td4"><h6>${res.data.categoryName}</h6></td>`;
							html += `<td class="td5"><h6>${res.data.brandName}</h6></td>`;
							html += `<td class="td6"><h6>${res.data.price}</h6></td>`;
							html += `<td class="td7"><h6>${res.data.quantity_in_stock}</h6></td>`;
							html += `<td class="td8"><h6>${res.data.discount}</h6></td>`;
							html += `<td class="td9"><h6>${res.data.description}</h6></td>`;
							html += `<td class="td10">`;
							html += `<a onclick="editProduct(${res.data.id})" data-bs-toggle="modal" data-bs-target="#edit" class="btn btn-sm btn-primary mr-1">Edit</a>`;
							html += `<a onclick="clickDeleteProduct(${res.data.id})" class="btn btn-sm btn-danger mr">Delete</a>`;
							html += `</td> )`;
							 $('#trow_' + res.data.id).empty();
							 $('#trow_' + res.data.id).append(html);
							 $('#edit').modal('hide');
							 Command: toastr["success"](res.message, "Edit Product")
						}else{
							Command: toastr["error"](res.message, "Edit Product")
						}
					}
				});
			}
			function clickDeleteProduct(id){
				const firstPath = location.pathname.split('/')[1];
				 let conf = confirm('Bạn thật sự muốn xóa sản phẩm này?');
			        if (conf === true) {
			            $.ajax({
			            	url: '/'+firstPath+'/'+"admin/product/delete",
			                type: 'POST',
			                data: { id: id },
			                success: function (res) {
			                    if (res.data) {
			                        $('#trow_' + id + ' .td2').empty();
			                        $('#trow_' + id + ' .td3').empty();
			                        $('#trow_' + id + ' .td4').empty();
			                        $('#trow_' + id + ' .td5').empty();
			                        $('#trow_' + id + ' .td6').empty();
			                        $('#trow_' + id + ' .td7').empty();
			                        $('#trow_' + id + ' .td8').empty();
			                        $('#trow_' + id + ' .td9').empty();
			                        $('#trow_' + id + ' .td10').empty();
			                        Command: toastr["success"](res.message, "Delete Product")
			                    }else{
			                    	  Command: toastr["error"](res.message, "Delete Product")
			                    }
			                }
			            });
			        }
			}
			function chooseFile(fileInput, type) {
				if (fileInput.files && fileInput.files[0]) {
					let reader = new FileReader();
					reader.onload = function(e) {
						if(type == 'add'){
							$("#imageAdd").attr("src", e.target.result);
						}
						if(type == 'edit'){
							$("#imageEdit").attr("src", e.target.result);
						}
					}
					reader.readAsDataURL(fileInput.files[0]);
				}
			}
		</script>
	</th:block>

</body>
</html>