<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section class="search">
	<div class="container">
		<form th:action="@{/admin/product}" method="post" th:object="${formSearchProduct}">
			<h5 class="px-3 mb-4">Form search product</h5>
			<div class="row">
				<div class="col-6 left px-4">
					<div class="form-group d-flex justify-content-between">
						<label for="" class="col-form-label">Name:</label> 
						<input type="text" th:field="*{name}" class="form-control">
					</div>
					<div class="form-group d-flex justify-content-between">
						<label for="" class="col-form-label">Price:</label> 
						<input type="number" th:field="*{price}" class="form-control">
					</div>
					<div class="form-group d-flex justify-content-between">
						<label for="" class="col-form-label">Category:</label> 
						<select class="form-control form-select" th:field="*{categoryName}">
							<option selected="selected" value=""></option>
							<th:block th:each="item : ${category}">
								<option th:value="${item.name}">[[${item.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="col-6 right px-4">
					<div class="form-group d-flex justify-content-between">
						<label for="inputPassword6" class="col-form-label">Quantity:</label>
						<input type="number" th:field="*{quantity}" class="form-control">
					</div>
					<div class="form-group d-flex justify-content-between">
						<label for="inputPassword6" class="col-form-label">Discount:</label>
						<input type="number" th:field="*{discount}" class="form-control">
					</div>
					<div class="form-group d-flex justify-content-between">
						<label for="" class="col-form-label">Brand:</label> 
						<select class="form-control form-select" th:field="*{brandName}">
							<option selected="selected" value=""></option>
							<th:block th:each="item : ${brand}">
								<option th:value="${item.name}">[[${item.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="d-flex justify-content-center pr-4 mb-3">
					<button class="btn btn-primary px-4" type="submit">Search</button>
				</div>
			</div>
		</form>
	</div>
</section>

</html>