<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<section class="container banner-brand">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-4 py-3 py-md-0">
				<div class="card"><a href="#laptop"><img th:src="@{/images/banner/ASUS-1.png}" alt=""></a></div>
			</div>
			<div class="col-md-4 col-sm-4 col-4 py-3 py-md-0">
				<div class="card"><a href="#keyboard"><img th:src="@{/images/banner/KEYBOARD-LOGITECH-1.png}" alt=""></a></div>
			</div>
			<div class="col-md-4 col-sm-4 col-4 py-3 py-md-0">
				<div class="card"><a href="#mouse"><img th:src="@{/images/banner/MOUSE-LOGITECH-5.png}" alt=""></a></div>
			</div>
		</div>
	</section>

</html>