<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<section id="mouse" class="container product-cards p-0 mt-0">
		<h1 class="text-center">Mouse</h1>
		<div class="product-owl-carousel owl-carousel">
			<th:block th:each="item : ${mouseCategory}">
				<div class="card">
					<img th:src="@{/images/product/{img}(img=${item.thumbnail})}" alt="">
					<div class="card-body">
						<h3>[[${item.name}]]</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<div class="star">
							<i class="fas fa-star checked"></i> 
							<i class="fas fa-star checked"></i>
							<i class="fas fa-star checked"></i> 
							<i class="fas fa-star checked"></i>
							<i class="fas fa-star checked"></i>
						</div>
						<h5>
							[[${#numbers.formatInteger(item.price,3,'POINT')}]]đ
							<span>
								<a href="#"><i class="fa-solid fa-eye"></i></a>
								&emsp;
								<a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
							</span>
						</h5>
					</div>
				</div>
			</th:block>
		</div>
	</section>

</html>