<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<section class="slider-owl-carousel owl-carousel">
		<div class="slider-item">
			<div class="content">
				<h3>Biggest Clothe Sale <br> <span>Up To 50% Off</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, totam sed maxime animi facilis!</p>
				<a th:href="@{/store}"><button id="shopnow">Shop Now</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/ASUS-1.png}" alt=""></div>
		</div>
		<div class="slider-item">
			<div class="content">
				<h3>Biggest Clothe Sale <br> <span>Up To 75% Off</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, totam sed maxime animi facilis!</p>
				<a th:href="@{/store}"><button id="shopnow">Shop Now</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/DELL-1.png}" alt=""></div>
		</div>
		<div class="slider-item">
			<div class="content">
				<h3>Biggest Clothe Sale <br> <span>Up To 95% Off</span></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, totam sed maxime animi facilis!</p>
				<a th:href="@{/store}"><button id="shopnow">Shop Now</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/HP-1.png}" alt=""></div>
		</div>
	</section>

</html>