<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<section class="slider-owl-carousel owl-carousel">
		<div class="slider-item">
			<div class="content">
				<h3>[[#{biggest_discount_on_asus_laptops}]] <br> <span>[[#{up_to_25%_off}]]</span></h3>
				<p>[[#{oh_my_god_um_um_uh_uh_i_cant_believe_it_must_buy_now_before_it_runs_out}]]</p>
				<a th:href="@{/store}"><button id="shopnow">[[#{shop_now}]]</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/ASUS-1.png}" alt=""></div>
		</div>
		<div class="slider-item">
			<div class="content">
				<h3>[[#{biggest_discount_on_dell_laptops}]] <br> <span>[[#{up_to_50%_off}]]</span></h3>
				<p>[[#{oh_my_god_um_um_uh_uh_i_cant_believe_it_must_buy_now_before_it_runs_out}]]</p>
				<a th:href="@{/store}"><button id="shopnow">[[#{shop_now}]]</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/DELL-1.png}" alt=""></div>
		</div>
		<div class="slider-item">
			<div class="content">
				<h3>[[#{biggest_discount_on_hp_laptops}]] <br> <span>[[#{up_to_75%_off}]]</span></h3>
				<p>[[#{oh_my_god_um_um_uh_uh_i_cant_believe_it_must_buy_now_before_it_runs_out}]]</p>
				<a th:href="@{/store}"><button id="shopnow">[[#{shop_now}]]</button></a>
			</div>
			<div class="img"><img th:src="@{/images/slide/HP-1.png}" alt=""></div>
		</div>
	</section>

</html>